/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        shifted_alphas {
            display-name = "COLEMAK-DH";
            bindings = <
&none  &kp LS(Q)  &kp LS(W)  &kp LS(F)  &kp LS(P)  &kp LS(B)  &kp LS(J)  &kp LS(L)  &kp LS(U)  &kp LS(Y)  &kp DOUBLE_QUOTES  &none  &none  &mt LEFT_WIN LS(A)  &mt LALT LS(R)  &mt LEFT_CONTROL S  &lt 0 T  &kp LS(G)  &kp LS(M)  &mt RIGHT_SHIFT LS(N)  &mt RIGHT_CONTROL LS(E)  &mt RIGHT_ALT LS(I)  &mt RIGHT_WIN LS(O)  &none  &none  &kp LS(Z)  &kp LS(X)  &kp LS(C)  &kp LS(D)  &kp LS(V)  &kp LS(K)  &kp LS(H)  &kp SEMICOLON  &kp COLON  &kp UNDER  &none  &kp ESCAPE  &kp SPACE  &kp TAB  &kp RET  &kp BSPC  &kp DEL
            >;

            label = "SHIFT";
        };

        default_layer {
            display-name = "COLEMAK-DH";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W  &kp F  &kp P  &kp B  &kp J  &kp L  &kp U  &kp Y  &kp APOS  &none  &none  &mt LEFT_WIN A  &mt LALT R  &mt LEFT_CONTROL S  &lt 0 T  &kp G  &kp M  &mt RIGHT_SHIFT N  &mt RIGHT_CONTROL E  &mt RIGHT_ALT I  &mt RIGHT_WIN O  &none  &none  &kp Z  &kp X  &kp C  &kp D  &kp V  &kp K  &kp H  &kp COMMA  &kp DOT  &kp MINUS  &none  &lt 1 ESCAPE  &lt 1 SPACE  &lt 1 TAB  &lt 3 RETURN  &lt 2 BACKSPACE  &lt 1 DELETE
            >;
        };

        number_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|     |     |     |     |     |      |
            //                    | GUI |     | SPC   | ENT |     | ALT |

            bindings = <
&none  &kp LEFT_BRACKET  &kp N4  &kp N5  &kp N6  &kp RIGHT_BRACKET  &trans  &trans  &trans  &trans  &trans  &none  &none  &kp AT  &kp N1  &kp N2  &kp N3  &kp BACKSLASH  &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &none  &none  &kp COMMA  &kp N7  &kp N8  &kp N9  &kp PERCENT  &trans  &trans  &trans  &trans  &trans  &none  &kp DOT  &kp N0  &kp MINUS  &trans  &trans  &trans
            >;
        };

        symbol_layer {
            display-name = "SYMBOL";
            bindings = <
&none  &kp HASH  &kp CARET  &kp DOLLAR  &kp ASTRK  &kp QUESTION  &trans  &trans  &trans  &trans  &trans  &none  &none  &kp EXCL  &kp EQUAL  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SLASH  &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &none  &none  &kp TILDE  &kp AMPS  &kp LESS_THAN  &kp GREATER_THAN  &kp PIPE  &trans  &trans  &trans  &trans  &trans  &none  &kp MINUS  &kp SPACE  &kp PLUS  &trans  &trans  &trans
            >;
        };

        layer_5 {
            display-name = "EXTRA 5";
            bindings = <
&none  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none  &none  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none  &none  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
